.buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.buttons button {
  font-weight: bold;
  width: 95px;
  height: 55px;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  background-color: #f36;
  touch-action: manipulation;
}

.buttons button:hover {
  background-color: #f42156;
}
