.main {
  position: relative;
  padding: 5px;
  text-align: center;
}

.placeholder {
	border: 4px dashed #CCC;
	padding: 25px;
	min-height: 250px;
	width: 100%;
	background-color: #EFEFEF;
}

button.btn {
	-webkit-app-region: no-drag;
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  position: relative;
  top: -150px;
  opacity: 0;
  transition: opacity .25s;
}

.main:hover button.btn {
  opacity: 1;
}

