
.container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container section {
  display: none;
  text-align: center;
}

.show {
  display: block !important;
}

.placeholder {
  width: 100%;
  height: 85vh;
  min-height: 250px;
  opacity: .75;
  border: 5px dashed white;
  background-color: #efefef;
}

button.btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  top: -150px;
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  transition: opacity .25s;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  opacity: 0;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f36;
  background-image: none;
  touch-action: manipulation;
  text-transform: uppercase;
}

.container section:hover button.btn {
  opacity: 1;
}

button.btn:hover {
  background-color: #f42156;
}
